@model QuestEngine.ViewModels.CurrentTeamRiddleViewModel

@{
    ViewBag.Title = "Index";
}


<div>
    <h4>
        Загадка №
        @Html.DisplayFor(model => model.RiddleNumber)
    </h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiddleText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiddleText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiddleStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiddleStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextPrompTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextPrompTime)
        </dd>
    </dl>
</div>

<h4>
    Подсказки
</h4>
<hr />
<ol>
    @foreach (var item in Model.Prompts)
    {

        <li>
            @Html.DisplayFor(modelItem => item)
        </li>
    <hr/>
    }
</ol>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
